.container {
    text-align: center;
}
.block-table {
    border-collapse: collapse;
    margin: 0 auto;
}
.block-table td {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    color: #F00;
}
.block-table td.black {
    background-color: #000;
}
